body {
    margin: 0px !important;
    padding: 0px !important;
}

/* .hero_header {
    background: linear-gradient(rgba(15, 15, 46, 0.8), rgba(15, 15, 46, 0.8)), url("../image/header_hero_2.jpg"), no-repeat center;
    background-position: center;
    overflow: hidden;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 2em 4em 2em 4em;
} */

.header_page {
    background-color: #0F0F2E;
    text-align: center;
    padding: 2em 4em 2em 4em;
}

.menu_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    display: flex;
    column-gap: 30px;
}

.menu_nav a {
    text-decoration: none;
    color: #ffffff;
}

.power_memory {
    font-size: 1.5em;
}

h1 {
    color: #ffffff;
    margin: 0 0 0 0;
}

h2 {
    color: #ffffff;
    font-size: 6em;
    margin-bottom: 0;
}

#button_jouer {
    background-color: #EC9222;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5%;
}

/* HEADER PAGE */

.titre_background {
    /* background: linear-gradient(rgba(15, 15, 46, 0.8), rgba(15, 15, 46, 0.8)), url("../image/header_hero_2.jpg"), no-repeat center; */
    /* background-position: center;
    overflow: hidden;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover; */
    text-align: center;
    padding: 2em 4em 2em 4em;
    margin-bottom: 5%;
}

.h1_page {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 5em;
}

#titre_page {
    margin-top: 3%;
    margin-bottom: 3%;
}

/* background per page */

.register_background {
    background: linear-gradient(rgba(15, 15, 46, 0.8), rgba(15, 15, 46, 0.8)), url("../image/header_hero_2.jpg"), no-repeat center;
    background-position: center;
    overflow: hidden;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.memory_background {
    background: linear-gradient(rgba(15, 15, 46, 0.8), rgba(15, 15, 46, 0.8)), url("../image/header_hero_2.jpg"), no-repeat center;
    background-position: center;
    overflow: hidden;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.login_background {
    background: linear-gradient(rgba(15, 15, 46, 0.8), rgba(15, 15, 46, 0.8)), url("../image/header_hero_2.jpg"), no-repeat center;
    background-position: center;
    overflow: hidden;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.scores_background {
    background: linear-gradient(rgba(15, 15, 46, 0.8), rgba(15, 15, 46, 0.8)), url("../image/header_hero_2.jpg"), no-repeat center;
    background-position: center;
    overflow: hidden;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact_background {
    background: linear-gradient(rgba(15, 15, 46, 0.8), rgba(15, 15, 46, 0.8)), url("../image/header_hero_2.jpg"), no-repeat center;
    background-position: center;
    overflow: hidden;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.myaccount_background {
    background: linear-gradient(rgba(15, 15, 46, 0.8), rgba(15, 15, 46, 0.8)), url("../image/header_hero_2.jpg"), no-repeat center;
    background-position: center;
    overflow: hidden;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}