#table_memory_5x5 {
  display: flex;
  justify-content: center;
  border-spacing: 40px;
}

.table_case {
  width: 150px;
  height: 150px;
  background-color: #f56b00;
  text-align: left;
  vertical-align: top;
}

/* h1 {
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

h2 {
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 0;
} */

#h2_difficulte {
  color: #ffffff;
  font-size: 4em;
  margin-bottom: 3%;
}

.choose_difficulty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 50px;
}

.button_difficulty {
  background-color: #EC9222;
  border: none;
  color: white;
  padding: 45px 62px 45px 62px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin-bottom: 0;
}

.button_difficulty:hover {
  opacity: 0.7;
}
