::before, ::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.tableau-style{
    border: 1px solid white;
    width: 80%;
    display: flex;
    justify-content: center;
}

tbody td, tr {
    text-align: center;
      text-align: left;
      height: 50px;
      vertical-align: middle;
      /* padding: 15px 0px 15px 0px; */
      border: 1px solid #fff;
      border-collapse: collapse;
      text-align: center;
}

.content_scores{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

/* .color-1 {
    background: linear-gradient(190deg, rgba(33,74,164,1) 35%, rgba(7,4,70,1) 74%);
}
.color-2 {
    background: linear-gradient(190deg, rgba(7,4,70,1) 35%, rgba(33,74,164,1) 74%);
} */

.color-1 {
    background-color: #0a065a;
}

.color-2 {
    background-color: #123070;
}

thead td,tr {
    text-align: center;
      text-align: left;
      height: 50px;
      vertical-align: middle;
      /* padding: 15px 0px 15px 0px; */
      border: 1px solid white;
      background-color: #EC9222;
      text-align: center;
      border-collapse: collapse;
      text-align: center;
}