body {
    background-color: #0F0F2E;
    margin: 40px 100px 40px 100px;
    color: #ffffff;
}


button {
    background-color: #EC9222;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5%;
}

button:hover {
    background-color: #ec912295;
}

nav a:hover {
    color: #EC9222;
}

nav a:active {
    color: #EC9222;
}

/* .on_link {
    color: #EC9222; 
    text-decoration: underline #EC9222;
    text-underline-offset: 2px;
} */
